#logo svg {
    pointer-events: none;
}

.rotate {
    position: absolute;
    transform: translate3d(0,0,0);
    transform-origin: 48% 52%;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.88, 0, 1, 1);
} 

.rotate:hover {

    animation-name: spin;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinend {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

